<%= form_for(@blog) do |f| %>
  <% if @blog.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

          <ul>
            <% @blog.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
  <div class="col-lg-3">
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>

    <div class="form-group">
      <%= f.cktext_area :content, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "ckeditor" %>
    </div>

    <p>
      <%= f.label :en_name %>
      <%= f.text_field :en_name %>
    </p>

    <div class="form-group">
      <%= f.cktext_area :en_content, :as => :ckeditor, input_html: {:ckeditor => {:toolbar => 'FULL'}}, class: "ckeditor" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  </div>
<% end %>
