<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" id="home_page">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="site-heading">
          <h1>Hello World</h1>
          <hr class="small">
          <span class="subheading">小黑のBlog</span>
        </div>
      </div>
    </div>
  </div>
</header>

<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

        <% @blogs.each do |blog| %>
            <div class="post-preview">
                <a>
                  <h2 class="post-title">
                    <%= link_to blog.name, blog_path(locale:"cn",id:blog.id) %>
                  </h2>
                </a>
                <% if logged_in? %>
                    <%= link_to 'Edit', edit_blog_path(blog) %>
                    <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
                <p class="post-meta">Posted on <%= blog.created_at.to_date %></p>
            </div>
            <hr>
        <% end %>
    </div>
  </div>
  <%= will_paginate %>
</div>

<br>

<% if logged_in? %>
    <div class="col-lg-2">
      <%= link_to 'New Blog', new_blog_path %>
    </div>
<% end %>
