

<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" id="show_blog_pic">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-heading">
          <h1 id="show_blog_name">  <%= @blog.en_name %></h1>
          <span class="meta" id="show_blog_time">Posted on <%= @blog.created_at.to_date %></span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <%= raw(@blog.en_content) %>
      </div>
    </div>
  </div>
</article>

<hr>


<div class="col-lg-offset-1">
  <% if logged_in? %>
      <%= link_to 'Edit', edit_blog_path(@blog) %>|
  <% end %>
  <%= link_to 'Back', blogs_path(locale: "en") %>
</div>

<br>

<div class="chatContainer">

  <div class="chatTitleContainer" id="comment_count" ><%= @blog.comments.count %> Comments:</div>
  <div class="chatHistoryContainer">
    <ul class="formComments">
      <%= comments_tree_for @blog.comments.roots %>
      <h5>Add a new comment here:</h5>
      <%= render 'comments/form',blog_id: @blog %>
    </ul>
  </div>
</div>

