<div class="container">
  <div class="well">

    <p class="text-muted comment-size"><%= comment.root? ? "Started by" : "Replied by" %> <strong><%= comment.name %></strong> on
      <%= l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p>

    <p class="comment-size"><%= comment.body %></p>

    <a data-toggle="collapse" data-parent="#accordion"
       href="#collapse-<%= comment.id %> ">
      reply
    </a>

    <div id="collapse-<%= comment.id %>" class="panel-collapse collapse">
      <div>
        Add reply here:<br/>

        <%= render "comments/form", params:{parent_id:comment.id,blog_id:comment.blog_id} %>
      </div>
    </div>
  </div>
</div>