<%= form_for [@blog,Comment.new(parent_id:params[:parent_id],blog_id:params[:blog_id])] do |f| %>

    <%= f.hidden_field :parent_id %>
    <%= f.hidden_field :blog_id %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body, class: 'form-control', required: true %>
    </div>

    <%= f.submit class: 'btn btn-primary' %>
<% end %>
